.root{
    -fx-background-image: url("background.jpg");
}

.ui {
    -fx-background-color: rgba(120, 116, 116, 0.2);

}

.GridPane{
    -fx-background-color: rgba(120, 116, 116, 0.2);
}

.label {
    -fx-text-fill: #ffc800;
    -fx-font-size: 14;

}


#text {
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-fill: yellow;
    -fx-display-caret: false;
    -fx-border-color: yellow;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-background-color: gray;

    -fx-text-fill: #ffc800;
}

#buttons {
    -fx-background-image: url("button.png");
    -fx-background-color: transparent;
    -fx-background-size: 150px 60px;
    /*-fx-border-color: black;*/
    /*-fx-sha*/
    -fx-pref-width: 150px;
    -fx-pref-height: 60px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Copperplate Gothic Bold";
    -fx-font-size: 20px;
    -fx-text-fill: #ffc800;


}

#buttons:hover{
    -fx-background-image: url("button-active.png") ;
    -fx-background-size:150px 60px;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-pref-width: 150px;
    -fx-pref-height: 60px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Copperplate Gothic Bold";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #ffc800;
}



#name-label {
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-family: "monospace";
    -fx-padding: 0 0 20 0;
}